 *{margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.text1{
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 10px;
    color: rgb(240, 98, 121);
}
.button-area{
    color: #000;
 } 
.spacing1 {
    height: 90px;
}
.spacing2 {
    height: 240px;

}
.spacing3 {
    height: 200px;
}
.spacing4 {
    height: 160px;
} 
.navbar{
   background-color: black;
    position: fixed;
    width: 100%;
    padding: 15px 0;
  
    font-family: sans-serif;
    opacity: 0.8;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

}

.navbar .menu li a{
    color:  white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3 ease;
  }

  .navbar .menu li{
      color: #fff;
      display: inline-block;
      font-weight: 500;
      margin-left: 20px;
  }
.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.navbar .logo a span{
    color:  rgb(240, 98, 121);
}
.navbar .hearder{
    background:  url(myImg/hackerface.jpeg) no-repeat center right 560px ;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hearder{
    max-width: 1200px;
    padding: 0 80px;
    margin: auto;

}
.include-all{ 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color:white;
      background-position: center center;
     background:  url(newme.jpeg) no-repeat center;
     background-size:4500px; 
     

    margin-top: 50px;
}
.videowrapper{
    width: 100vw;
    height: p00px;
  }
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }
  
.home{
     background:url(myImg/newme.jpeg) no-repeat;
    background-position: center center;
    background-size: cover; 
    display: flex;
    height: 100vh;
    color: white;
    margin-left: 40px;
   
   
}


.home .hearder{
  
    margin: auto 0 auto 40px;
}
.home-content{
    color:white;
    margin-top: 310px;
    margin-left: 100px;
}
.home .home-content .greets{
    font-size: 27px;
   
}
.home .home-content .name-intro{
  color: rgb(240, 98, 121);
    font-size: 45px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .carrier-into{
   
font-size: 35px;
margin: 5px 0;
}
.home .home-content .carrier-into span{
    color: crimson;
    font-weight: 500;
}
.navbar .menu li a:hover{
    color: rgb(240, 98, 121);
}
a:hover{
    color: rgb(240, 98, 121);;
}
a{
    color:white;
}

#pie-chart{
    border-style: solid;
    border-color: black;
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient( blue 5.00% 46.00% , orange  46.00% 50%, rgb(236, 80, 106) 50%)
}
.html1{
    margin-top: 4px;
    height: 10px;
    width: 10px;
    background:rgb(236, 80, 106) ;
}
.css1{
    margin-top: 4px;
    height: 10px;
    width: 10px;
    background:blue;
}
h2{text-align: center;}
.front-list1{
   
    width: 30px;
    
}
.column-l{

border-style: solid;
border-color:rgb(240, 98, 121);;
border-style: dashed groove none dotted;
    width: 250px; 
    height:250px;
    margin-top:30px; 
    border-radius:20px  20px 20px 20px;
    background-color:black;
    margin-left: 60px;
}
.column-l img{
    width: 240px; 
    height: 240px;
    border-radius:20px 20px 20px 20px ;
    margin-left: 30px ;
    padding-top: 10px;
    
}
.about-content{
    width: 100%;
    margin-right: auto;
    margin-right: auto;
}
.column-R{
    border-color: rgb(240, 98, 121);
    border-style: solid;
    margin-top: 30px;
    border-radius:  20px  20px 20px 20px ;
    width: 600px;
        background: black;
          margin-left: 100px;
}
.p1{
    text-align: center;
    font-weight: 500;
    color: white;
}
.text{
   
    color:rgb(212, 69, 93);;
    font-weight: 600;
    font-size:large;
}

span{
    padding:4px;
}
.info1{
    margin-top: 20px;
    margin-left: 10px;
    color: black;
    font-weight: 600;
}

.JS{
     margin-top: 4px;
     text-align: center;
height: 10px;
width: 10px;
background:orange
}

p{
    color: white;
}
.title1{
    color:white;
}
.Keys{
    width: 600px;
  color: black;  
}
.title {
    color:  white;
} 
.projects{
    height:100vh;

}
.title4{
    font-weight: 600;
    font-size: large;
    text-align: center;
    justify-content: center;
}
.Front-end{
    color: black;
    width: 400px;
    height: 400px;
}
.back-end{
    width: 400px;
    height: 400px;
}

@media (min-width: 800px) and (max-width: 1125px){
    
     
}
@media (max-width: 800px){
    #pie-chart{
        border-style: solid;
        border-color: black;
        margin-top: 20px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background: conic-gradient( blue 5.00% 46.00% , orange  46.00% 50%, rgb(236, 80, 106) 50%)
    } 
    .JS{
        margin-top: 4px;
        text-align: center;
   height: 10px;
   width: 10px;
   background:orange
   }
   .html1{
    margin-top: 4px;
    height: 10px;
    width: 10px;
    background:rgb(236, 80, 106) ;
}
.css1{
    margin-top: 4px;
    height: 10px;
    width: 10px;
    background:blue;
}
  .include-all{width: 100%;
    margin-left: auto;
      margin-right: auto;
  }

  .Keys{
      margin-left: 0px;
  }
  .home{
      
    width: 100%;
    margin-left: auto;
    margin-right: auto;
 
}
  .navbar{
      position: absolute;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  .hearder{
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
  }
  .hearders{
   
    margin-left: auto;
    margin-right: auto; 
  }
  
  .Front-end{
    width: 120px;
    height: 200px;
    font-weight: 300;  
    font-size: smaller;
  }
.contact-content{
    /* max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: bisque; */
    /* margin-top: 20px; */
    padding-top: 20px;
    width: 100%;
}
  .back-end{
    width: 120px;
    height: 200px;
    font-weight: 300;  
    font-size: smaller;
  }
  .home-content{
      margin-right: 40px;
  }
  .column-l img{
    
    border-radius:20px 20px 20px 20px ;
    margin-left: 2px ;
    padding-top: 10px;
    width: 200px; 
    height:200px;
    
}

  .column-l{
    width: 200px; 
    height:200px;
    margin-top:10px; 
    border-radius:20px  20px 20px 20px;
    background-color:black;
   
  }
}